h1 {
  color: red;
}

#pokedex, #pokemons {
  display: inline-block;
}

#pokedex {
  vertical-align: top;
  width: 400px;
  background-color: red;
}

#pokedex img {
  width: 100%;
}

#pokemons{
  width: 400px; 
}
